@import '@/presentation/styles/colors.scss';

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $primary;
  height: 100vh;

  .section {
    display: flex;
    justify-content: center;
  }
}