@import '@/presentation/styles/colors.scss';

* {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  height: 56px;
  padding: 16px;
  background-color: $white;
  outline: none;
  border: none;
  font-weight: bold;

  &:hover {
    background-color: $grey;
  }
}